<!DOCTYPE html>
<html>
  <head>
    <title>My Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/model">Model</a></li>
      </ul>
    </nav>
    <header>
      <h1>Ames Housing Prediction</h1>
    </header>
    <main>
      <section>
        <h2>About</h2>
        <p>This project's goal was to anaylize housing data from Ames, Ohio and </p>
        <img src="../static/lol.png" alt="Image Description">
      </section>
    </main>
  </body>
</html>